extends layout

mixin modDest(id, airport, title, desc)
    div(tabindex="-1",role="dialog",id=id).modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button",data-dismiss="modal").close
                        span(aria-hidden="true") &times;
                    h4.modal-title Modify Destination
                form(action="/admin/modDest/"+id,method="post",enctype='multipart/form-data').form-horizontal
                    div.modal-body
                        div.form-group
                            label.col-md-3.control-label ID
                            input(type='text',name='id',placeholder=id,disabled).form-control
                        div.form-group
                            label.col-md-3.control-label Airport
                            input(type='text',name='airport',placeholder=airport).form-control
                        div.form-group
                            label.col-md-3.control-label Title
                            input(type='text',name='dest',placeholder=title).form-control
                        div.form-group
                            label.col-md-3.control-label Description
                            input(type='text',name='desc',placeholder=desc).form-control
                        div.form-group
                            label.col-md-3.control-label Image
                            input(type='file',name='image')
                    div.modal-footer
                        button(data-dismiss="modal",type="button").btn.btn-default.pull-right Close
                        button(type="submit").btn.btn-primary.pull-right Submit

block content
    div(class="row")
        div(class="col-md-8 col-md-offset-2")
            h1 Destinations
            table(class="table table-striped")
                thead
                    tr
                        th.col-md-1(style="width:9%")
                        th.col-md-1 Section (id)
                        th.col-md-1 Airport
                        th.col-md-2 Destination
                        th Description
                        th Image (path)
                tbody
                    each dest in dests
                        tr
                            td
                                div.btn-group
                                    a(href='/admin/delDest/#{dest.id}').btn.btn-default
                                        span(class='glyphicon glyphicon-remove')
                                    button(data-toggle="modal",data-target="#"+dest.id).btn.btn-default
                                        span(class='glyphicon glyphicon-pencil')
                            td= dest.id
                            td= dest.airport
                            td= dest.title
                            td= dest.description
                            td= dest.image
                        +modDest(dest.id,dest.airport,dest.title,dest.description)
                    tr
                        form(action='/admin/addDest',method='post',enctype='multipart/form-data')
                            td
                            td
                                input(type='text',name='id',required).form-control
                            td
                                input(type='text',name='airport').form-control
                            td
                                input(type='text',name='dest',required).form-control
                            td
                                input(type='text',name='desc').form-control
                            td
                                input(type='file',name='image',required)

                                button(class="btn btn-primary pull-right",type="submit") Submit
            h1 Booked Trips
            table(class="table table-striped")
                thead
                    tr
                        th
                        th Date Booked
                        th User
                        th Destination
                        th Start Date
                        th End Date
                tbody
                    each trip in trips
                        tr
                            td
                                div.btn-group
                                    a(href='/admin/delTrip/'+trip.id).btn.btn-default
                                        span(class='glyphicon glyphicon-remove')
                            td= trip.timestamp
                            td= trip.userID
                            td= trip.title
                            td= trip.startDate
                            td= trip.endDate
            h1 Logs
            table(class="table table-striped")
                thead
                    tr
                        th Timestamp
                        th Level
                        th Message
                tbody
                    each log in logs
                        tr
                            td= log.timestamp
                            td
                                case log.level
                                    when 'info'
                                        span.label.label-info= log.level
                                    when 'warning'
                                        span.label.label-warning= log.level
                                    when 'error'
                                        span.label.label-danger= log.level
                            td= log.message
