extends layout

block content
    div(class="row")
        div(class="col-md-8 col-md-offset-2")
            h1 Destinations
            table(class="table table-striped")
                thead
                    tr
                        th.col-md-1
                        th.col-md-1 Section (id)
                        th.col-md-1 Airport
                        th.col-md-2 Destination
                        th Description
                        th Image (path)
                tbody
                    each dest in dests
                        tr
                            td
                                div.btn-group
                                    a(href='/admin/delDest/#{dest.id}').btn.btn-default
                                        span(class='glyphicon glyphicon-remove')
                                    a.btn.btn-default
                                        span(class='glyphicon glyphicon-pencil')
                            td= dest.id
                            td= dest.airport
                            td= dest.title
                            td= dest.description
                            td= dest.image
                    tr
                        form(action='/admin/addDest',method='post',enctype='multipart/form-data')
                            td
                            td
                                input(type='text',name='airport').form-control
                            td
                                input(type='text',name='id').form-control
                            td
                                input(type='text',name='dest').form-control
                            td
                                input(type='text',name='desc').form-control
                            td
                                input(type='file',name='image')

                                button(class="btn btn-primary pull-right",type="submit") Submit
